
.navbar{
    background-color:#000066 !important;
}
.page-footer{
    background-color:#000066 !important;
}

.navbar .collapse .navbar-nav li a{
    color:white !important;
}
.navbar .collapse .navbar-nav li a:hover{
    color: #33FFCC !important;
    background-color:#0066FF;
}

.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item {
    color:#660033 !important;
}
.navbar .collapse .navbar-nav li .dropdown-menu .dropdown-item:hover {
    color:#CC0033 !important;
    background-color:#D0D0D0 !important;
    opacity: 0.5;
}
.navbar-toggler {
    background-color: #0066ff !important;
}

#title-1 {
    color: #0000CC;
    font-size:1.4em;
}
#title-2 {
    color: #0000CC;
    font-size:1.2em;
}
h5 {
    color:#0000CC;
    font-size:1.2em;
}
div.fixed {
    position: fixed;
    top: 40px;
    left: 100px;
    color: #000099;
    background: rgba(255, 255, 255, 0.7)
}
.btn-circle{
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

